@using Microsoft.AspNetCore.Http 
@using MyBlog.Extension
@inject IHttpContextAccessor httpcontextaccessor
@{
    
    var x = httpcontextaccessor.HttpContext.Session.Get<MyBlog.Models.User>(SD.CurrentUser);

}
<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    @RenderSection("Header",false)
</head>

<body>
    <div class="body-wrapper">
        <nav class="navbar navbar-expand-sm sticky-top">
            <div class="container">
                <h3 class="text-white" href="#">MyBlog</h3>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
                        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">BLOG <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ASK ME ANYTHING</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ABOUT</a>
                        </li>

                        @if (x != null)
                        {
                            <li class="nav-item dropdown">
                                <div class="d-flex align-items-center avatar-link">
                                    <img class="avatar-sm" src="https://via.placeholder.com/150" alt="">
                                    <a class="nav-link " data-toggle="dropdown" href="#">@x.UserName</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Info</a>
                                        <a class="dropdown-item" href="#">Post</a>
                                        <a class="dropdown-item" asp-action="SignOut" asp-controller="User" asp-area="Client">Sign out</a>
                                    </div>
                                </div>


                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="modal" data-target="#LoginModal">LOGIN</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="modal" data-target="#RegisterModal">REGISTER</a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
        <div class="body-blog">
            <div class="advangtade">
                <img src="" alt="">
            </div>
            <!--phải để body trong container-->
            @RenderBody()
        </div>
        <footer class="blog-footer">
        </footer>
        <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="LoginModalLabel">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex-column">
                            <div class="d-flex justify-content-center">
                                <a href="#"><i class="fa fa-google social-google mx-2" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-facebook social-facebook mx-2" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-github social-github mx-2" aria-hidden="true"></i></a>
                            </div>
                            <div id="loginpatial">
                                <partial itemid="" name="_Login" model="ViewBag.Login" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="d-flex ">
                            <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#RegisterModal">Đăng kí tài khoản</a>|
                            <a href="#">Quên mật khẩu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="RegisterModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="RegisterModalLabel">Register</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex-column">
                            <div class="d-flex justify-content-center">
                                <a href="#"><i class="fa fa-google social-google mx-2" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-facebook social-facebook mx-2" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-github social-github mx-2" aria-hidden="true"></i></a>
                            </div>
                            <div id="reg-partial">
                                <partial name="_Register" model="ViewBag.Register" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="d-flex ">
                            <a href="#" data-toggle="modal" data-target="#LoginModal" data-dismiss="modal">Đăng nhập</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/fontawesomekit.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", false)
</body>

</html>